.navbar {
    height: 40px;
    border: 2px solid #000;
    align-items: center;
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    padding: 0 1rem;

}
.logo img {
    height: 40px;
}
.nav-links ul {
    color: #000;
    display: flex;
    list-style: none;
    gap: 1rem;
}
.nav-btns {
    margin-right: 1rem;
}